@using CRUDBlazor.Server.Application.DTOs
@model DTOEmail

<!DOCTYPE html>
<html>
<head>
    <title>Restaurar Password </title>
</head>
<body>
    <p>Para restaurar el password, haga clic en el siguiente enlace:</p>
    <a href="@Model.RecoveryLink">Restaurar contraseña</a>
</body>
</html>