@using CRUDBlazor.Server.Application.DTOs
@model DTOEmail
<!--Esto es lo que ve el usuario en su correo electronico cuando se realiza clic en el panel de administracion 
     <a asp-action="ResetPassword" asp-route-email="arrobauser.Email" class="btn btn-warning">Pass</a> 

-->
<div>
    <h2>Restablecimiento de contraseña</h2>
    <p>Hola,</p>
    <p>Hemos recibido una solicitud para restablecer tu contraseña. Aquí está tu contraseña temporal:</p>
    <p>@Model.TemporaryPassword</p>
    <p>Puedes usar esta contraseña para iniciar sesión y luego cambiarla a través de este enlace:</p>
    <a href="@Model.RecoveryLink">Restablecer contraseña</a>
    <p>Una vez dentro del enlace necesitara de la contraseña temporal para restablecer su contraseña. </p>
    <p>Si no puede cambiar la contraseña contacte con el administrador del sitio</p>
    <p>Si no has solicitado un restablecimiento de contraseña, por favor ignora este correo electrónico.</p>
</div>
