@page "/resetpassword/{email}"
@inject HttpClient http

@using System.Text.Json
<h3>Reset Password</h3>
<div class="container">
    <h2>Restablecimiento de contraseña</h2>
    <p>La contraseña para el usuario @email ha sido restablecida.</p>
    <p>Se ha enviado un correo electrónico con instrucciones para cambiar la contraseña.</p>
</div>
@code {
   [Parameter]
   public string email { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await http.GetFromJsonAsync<string>($"api/Auth/resetpassword/{email}");
            Console.WriteLine(response);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
   
  
}
